<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coyousi</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" databs-offset="100">

<!-- HOME BACKGROUND CONTENT PART -->
    <div class="bg-img jumbotron" style="background-image: url(static/Img_TreasureHunt.png);">
        <div class="container text-center">
            <br><br><br>
            <h2 class="card-title"><b>Leader In Educational<br> And Soft Skills Recreation</b></h2><br>
            <h5 class="card-text">
                Challenge your mind with this amazing treasure hunt game,<br> find the logic, and win over others, <br>Learn From Playing And Play While Learning.
            </h5><br>
            {% if current_user.is_authenticated: %}
                <a class="btn btn-success btn-lg" href="/treasurehunt" role="button">Start Treasure Hunt</a>
            {% else %}
                <a class="btn btn-success btn-lg" href="/loginpage" role="button">Start Treasure Hunt</a>
            {% endif %}
        </div>
    </div>


<!-- NAVBAR PART -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand mx-3" href="#">COYOUSI.</a>
            <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-3" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#leaderboard">Leaderboard</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if current_user.is_authenticated: %}
                    <span class="navbar-text">
                        Hi! {{current_user.Name}}
                    </span>
                    <a href="/logout"><button class="btn btn-danger ms-3">Logout</button></a>
                    {% else %}
                    <a href="/loginpage"><button class="btn btn-info ms-3">Login</button></a>
                    <a href="/signuppage"><button class="btn btn-info ms-3">Sign Up</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>


<!-- INDEX PART -->
    {% block content %}
    {% endblock %}


<!-- FOOTER PART -->
    <footer class="foot bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Coyousi
        </div>
        <!-- Copyright -->
    </footer>


<!-- JAVASCRIPT PART -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>